workflows/deadline-reminder.json
{
  "name": "Deadline Reminder - Assignee Notification",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "id": "daily-trigger",
      "name": "Daily 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.API_BASE_URL }}/api/tasks?status=in_progress&deadline_before={{ $now.plus(1, 'day').toISO() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-tasks",
      "name": "Fetch Upcoming Deadlines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-tasks",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-tasks",
      "name": "Has Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-tasks",
      "name": "Split Tasks",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [910, 250]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⏰ *Приближается дедлайн*\n\n*Задача:* {{ $json.title }}\n*Дедлайн:* {{ $json.deadline }}\n*Ответственный:* {{ $json.assignee_name }}\n*Приоритет:* {{ $json.priority }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-remind",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1130, 250],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Daily 9AM": {
      "main": [[{ "node": "Fetch Upcoming Deadlines", "type": "main", "index": 0 }]]
    },
    "Fetch Upcoming Deadlines": {
      "main": [[{ "node": "Has Tasks?", "type": "main", "index": 0 }]]
    },
    "Has Tasks?": {
      "main": [
        [{ "node": "Split Tasks", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Tasks": {
      "main": [[{ "node": "Send Reminder", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "tasks" }, { "name": "reminders" }]
}
